.avatar {
  position: relative;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 0.6rem;
  background: #393045;
  color: #c8b3fa;
  font-weight: 700;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
  }
}
