// Basic colors
$color-text: var(--color-text);
$color-border: var(--color-border);
$color-border-active: var(--color-border-active);

$color-foreground: var(--color-foreground);
$color-foreground-dim: var(--color-foreground-dim);
$color-foreground-inverted: var(--color-foreground-inverted);
$color-placeholder: var(--color-placeholder);

$color-background-1: var(--color-background-1);
$color-background-2: var(--color-background-2);
$color-background-2-transparent: var(--color-background-2-transparent);
$color-background-3: var(--color-background-3);

$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-primary-disabled: var(--color-primary-disabled);
$color-primary-transparent: var(--color-primary-transparent);

$color-accent: var(--color-accent);
$color-accent-dark: var(--color-accent-dark);
$color-accent-light: var(--color-accent-light);
$color-accent-disabled: var(--color-accent-disabled);

$color-success: var(--color-success);
$color-success-dark: var(--color-success-dark);
$color-success-light: var(--color-success-light);
$color-success-background: var(--color-success-background);
$color-success-transparent: var(--color-success-transparent);

$color-danger: var(--color-danger);
$color-danger-dark: var(--color-danger-dark);
$color-danger-light: var(--color-danger-light);
$color-danger-background: var(--color-danger-background);
$color-danger-transparent: var(--color-danger-transparent);

$color-warning: var(--color-warning);
$color-warning-dark: var(--color-warning-dark);
$color-warning-light: var(--color-warning-light);
$color-warning-background: var(--color-warning-background);
$color-warning-transparent: var(--color-warning-transparent);

// Grayscale
$color-gray-100: var(--color-gray-100);
$color-gray-200: var(--color-gray-200);
$color-gray-300: var(--color-gray-300);
$color-gray-400: var(--color-gray-400);
$color-gray-500: var(--color-gray-500);
$color-gray-600: var(--color-gray-600);
$color-gray-700: var(--color-gray-700);
$color-gray-800: var(--color-gray-800);
$color-gray-900: var(--color-gray-900);
$color-gray-1000: var(--color-gray-1000);

$color-green-100: var(--color-green-100);
$color-green-200: var(--color-green-200);
$color-green-300: var(--color-green-300);
$color-green-400: var(--color-green-400);
$color-green-500: var(--color-green-500);
$color-green-600: var(--color-green-600);
$color-green-700: var(--color-green-700);
$color-green-800: var(--color-green-800);
$color-green-900: var(--color-green-900);
$color-green-1000: var(--color-green-1000);

$color-black-100: var(--color-black-100);
$color-black-200: var(--color-black-200);
$color-black-300: var(--color-black-300);
$color-black-400: var(--color-black-400);
$color-black-500: var(--color-black-500);
$color-black-600: var(--color-black-600);
$color-black-700: var(--color-black-700);
$color-black-800: var(--color-black-800);
$color-black-900: var(--color-black-900);
$color-black-1000: var(--color-black-1000);

$color-white-100: var(--color-white-100);
$color-white-200: var(--color-white-200);
$color-white-300: var(--color-white-300);
$color-white-400: var(--color-white-400);
$color-white-500: var(--color-white-500);
$color-white-600: var(--color-white-600);
$color-white-700: var(--color-white-700);
$color-white-800: var(--color-white-800);
$color-white-900: var(--color-white-900);
$color-white-1000: var(--color-white-1000);

$color-white: #fff;
$color-black: #000;

// Box shadows
$shadow-main: rgba(0, 0, 0, 0.2) 0rem 0.4rem 2.2rem -0.5rem;
$shadow-soft: rgba(0, 0, 0, 0.08) 0rem 0.2rem 1.2rem -0.3rem;
$shadow-sharp: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;
$shadow-outline: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.1rem;

$shadow-input-active: 0 0 0 0.1rem $color-primary-dark;
$shadow-input-error: 0 0 0 0.1rem $color-danger-dark;

// Borders
$border-main: 0.1rem solid $color-border;
$border-input-active: 0.1rem solid $color-primary-dark;
$border-input-error: 0.1rem solid $color-danger-dark;

// Outlines
$outline-focus: 0.2rem solid $color-primary;

// Gradients
$gradient-hero: linear-gradient(120deg, $color-green-800, $color-background-2);

// Filters
$filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg)
  brightness(106%) contrast(106%);
$filter-black: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(226deg)
  brightness(103%) contrast(108%);

// References
// mui palette -> https://mui.com/material-ui/customization/palette/
// mui scale -> https://mui.com/material-ui/customization/color/
// box shadows -> https://getcssscan.com/css-box-shadow-examples
