@use 'styles/functions' as *;

$main-font: 'Segoe UI', sans-serif;

$font-size-xxxl: 3.6rem;
$font-size-xxl: 3rem;
$font-size-xl: 2.4rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1.1rem;
$font-size-xxxs: 1rem;

$letter-spacing-1: -0.1rem;
$letter-spacing-2: -0.025rem;
$letter-spacing-3: 0rem;
$letter-spacing-4: 0.1rem;
$letter-spacing-5: 0.15rem;
$letter-spacing-6: 0.3rem;

$spacing-1: var(--spacing-1, 0.4rem);
$spacing-2: var(--spacing-2, 0.8rem);
$spacing-3: var(--spacing-3, 1.2rem);
$spacing-4: var(--spacing-4, 1.6rem);
$spacing-5: var(--spacing-5, 2rem);
$spacing-6: var(--spacing-6, 2.4rem);
$spacing-7: var(--spacing-7, 2.8rem);
$spacing-8: var(--spacing-8, 3.2rem);
$spacing-9: var(--spacing-9, 3.6rem);
$spacing-10: var(--spacing-10, 4rem);
$spacing-11: var(--spacing-11, 4.8rem);
$spacing-12: var(--spacing-12, 5.6rem);
$spacing-13: var(--spacing-13, 6.4rem);
$spacing-14: var(--spacing-14, 7.2rem);
$spacing-15: var(--spacing-15, 9.6rem);
$spacing-16: var(--spacing-16, 12rem);
$spacing-17: var(--spacing-17, 14.4rem);
$spacing-18: var(--spacing-18, 16.8rem);

$radius-xs: var(--radius-xs, 0.2rem);
$radius-s: var(--radius-s, 0.4rem);
$radius-m: var(--radius-m, 0.8rem);
$radius-l: var(--radius-l, 1.2rem);
$radius-xl: var(--radius-xl, 1.6rem);
$radius-xxl: var(--radius-xxl, 2rem);

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
$font-extraBold: 800;
$font-black: 900;

$size-button-height-xs: 2.4rem;
$size-button-height-s: 3.6rem;
$size-button-height-m: 4.4rem;
$size-button-height-l: 5.2rem;

$size-input-height: 4.4rem;
$size-input-height-s: 3.2rem;
$size-input-height-m: 4rem;
$size-input-height-l: 5.2rem;

$size-sidebar-width: 22rem;
$size-sidebar-width-compact: 18.5rem;
$size-page-max-width: 120rem;
$size-app-min-width: 64rem;

$size-icon: 2.4rem;
$size-icon-small: 1.8rem;

$space-gap-section: $spacing-6;
$space-gap-cards: $spacing-3;
$space-padding-button: $spacing-3 $spacing-5;
$space-padding-input: $spacing-3;
$space-padding-card: $spacing-5;
$space-padding-page: $spacing-10;
$space-padding-page-compact: $spacing-7;

$transition-duration-super-fast: 0.1s;
$transition-duration-fast: 0.2s;
$transition-duration-medium: 0.4s;
$transition-main: $transition-duration-fast ease-in-out;
$transition-smooth-end: $transition-duration-medium cubic-bezier(0.25, 0.4, 0.3, 1);
